body{
    background: #e9e8e6;

}
*{
    margin:0; padding: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.main{
    height: 100%;
    width: 750px;
    padding: 0px;
    background-color: antiquewhite;
    margin: 20px auto;
    display: flex;
}

.left_page{
    width: 375px;
    height: 100%;
    background: #9ad9f1;
    padding: 10px 0px 0px 0px
}

.image_profile{
    margin: 100px 0px 290px 0px;
    position: relative;

}
.image_profile img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: -75px;
    left: 23%;
}

.content{
    padding: 0PX 15px 0px 80px;
}

.Education h3{
    background:  #0dadec;
    padding: 5px 0px 5px 15px;
    color: white;
    width: 100%;
    margin-bottom: 5px;
}

.ed_p{
    margin-right: 15px;
}
.ed_p p{
    padding: 0px 10px 0px 20px;
    margin: 20px 10px 10px 0px;
    color: black;
    width: 100%;
    font-size: 14.5px;
    line-height: 23px;
}

.Skills{
    margin-bottom: 105px;
}

.Skills h3{
    background:  #0dadec;
    padding: 5px 0px 5px 15px;
    color: white;
    width: 100%;
}

.inui{
    list-style-position:outside; 
    padding-left: 25px;           
    margin: 0;
    max-width: 400px;    
  }
  
.inui li{
    margin-bottom: 8px;        
    line-height: 1.3;  
    text-indent: -1.5rem;
    
}

.inui li::marker{
    color: white;
}

.right_page{
    width: 375px;
    height: 100%;
    padding: 0px 5px 0px 35px;
    float: left;
}

.ribbon {
    width: 50px;
    height: 90px;
    background-color:#0dadec;
    position: relative;
    margin-left: 280px;
}

.ribbon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 10px solid antiquewhite;
  }


.name{
    color:  #0dadec;
}

.name h1{
    font-weight:bolder;
}

.school{
    width: 350px;
}
.school h3{
    background:  #0dadec;
    padding: 5px 0px 5px 15px;
    color: white;
    width: 80%;
    margin-bottom: 5px;
}

.obj{
    padding-left: 30px;
    margin: 20px 0px 30px 0px;
    width: 78%;
}

.obj p{
    line-height: 25px;
}

.ob p{
    color:  #0dadec;
    font-weight: bold; 
    margin-bottom: 3px;
}

.experience {
    margin-bottom: 20px;
}
.experience h3{
    background:  #0dadec;
    padding: 5px 0px 5px 15px;
    color: white;
    width: 80%;
    margin-bottom: 5px;
}

.experience h4{
    padding: 5px 0px 5px 15px;
    width: 80%;
    margin-bottom: 5px;
}

.periord{
    color: rgb(221, 70, 10);
}

.parttime{
    font-size: 15px;
}

.experience p{
    padding: 5px 0px 5px 15px;
    width: 80%;
    line-height: 25px;
}

.activivies{
    margin-bottom: 42px;
}
.activivies h3{
    background:  #0dadec;
    padding: 5px 0px 5px 15px;
    color: white;
    width: 80%;
    margin-bottom: 20px;
}

.act01{
    margin-bottom: 20px;
}

.act01 p{
    padding-left:  25px;
}

.act01 li{
    color:  rgb(221, 70, 10);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.act02 li{
    color:  rgb(221, 70, 10);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.act02 p{
    padding-left:  25px;
}

.contectbutton{
    position:relative;
    width: 240px;
    height: 48px;
    display: flex;
    background-color:#0dadec;
    margin-left: 90px;
}

.contectbutton p{
    margin: 15px 0px 0px 10px;
    color: black;

}

.twitter{
    margin: 15px 0px 0px 10px;
}


.linkedin{
    margin: 15px 0px 0px 10px;
}
